body {
  background: rgb(165, 205, 255);
  background: -webkit-linear-gradient(
    232deg,
    rgba(165, 205, 255, 1) 21%,
    rgba(107, 204, 254, 1) 86%
  );
  background: -o-linear-gradient(
    232deg,
    rgba(165, 205, 255, 1) 21%,
    rgba(107, 204, 254, 1) 86%
  );
  background: linear-gradient(
    322deg,
    rgba(165, 205, 255, 1) 21%,
    rgba(107, 204, 254, 1) 86%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a5cdff", endColorstr="#6bccfe", GradientType=1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title {
  text-align: center;
  margin-top: 70px;
  color: #131313;
}

.boxs {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.box {
  width: 260px;
  height: 300px;
  margin: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5cb3f9;
  color: black;
  transform: translateY(0%);
  transition: all 0.6s;
  border-radius: 20px;
}

.box:hover {
  background-color: #fec156ff;
  transform: translateY(-10%);
  transition: all 0.6s;
}

.box img {
  width: 80px;
  height: 80px;
}

.a {
  color: white;
  text-decoration: none;
}

/*Sidebar*/
.bar-top,
.sidebar svg {
  display: none;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  z-index: 10;
}

.sidebar div ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.sidebar div ul li {
  margin: 0 5px;
  padding: 2px 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  border-radius:2px;
  transition: all 0.5s ease;
}

.sidebar div ul li:hover,
.sidebar-tag-active {
  background-color: #443f3d;
}

.sidebar div:last-child {
  display: inline-flex;
  align-items: center;
}

.sidebar div:last-child h2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 16px;
}

.sidebar div:last-child img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

/*alerts,popups and errors*/
.alert {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000009e;
  width: 100%;
  visibility: collapse;
  opacity: 0;
  z-index: -100;
  transition: all 0.3s ease;
}

.alert div div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: min-content;
    flex-direction: column-reverse;
}

.alert div {
  background-color: #e6e6e6;
  padding: 10px 60px;
}

.popup {
  position: fixed;
  text-align: center;
  margin: auto;
  background: #ffffff;
  width: fit-content;
  color: black;
  padding: 2px 10px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  transform: translateY(-110%);
  transition: all 0.3s ease;
}

.request {
  background-color: #ffffff;
  color: black;
}

.pass {
  background-color: #85ff85;
  color: #054207;
}

.error {
    background-color: #ce1a1a;
    color: #ffffff;
}

/*botones*/
.buttons-container {
  position: relative;
  margin: auto;
  display: flex;
  flex-flow: wrap;
}

.alert .buttons-container button{
 margin: 5px 0;
}

.btn,
.btn-history {
  color: black;
  background-color: white;
  border-style: none;
  width: 160px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
  border-radius: 4px;
  margin: 10px auto;
}

.buttons-container-history {
  display: flex;
  width: inherit;
  justify-content: space-around;
}

.btn-history {
  padding: 0;
  width: 165px;
  margin: 20px 10px;
  height: 35px;
}

.btn:hover {
  background-color: #f3f3f3;
}

.btn-login {
  margin: auto;
  color: white;
  background: #2077bb;
  font-weight: 500;
  width: 100px;
  height: 30px;
}

.btn-login:hover {
  background-color: #1c6cab !important;
}

.btn-confirm {
  background-color: #1d9060 !important;
  color: #fbfbfb !important;
}

.btn-confirm:hover {
  background-color: #228a5c !important;
  transition: 1s;
}

.btn-cancel {
  background-color: #e43737 !important;
  color: #f9f9f9 !important;
}

.btn-cancel:hover {
  background-color: #d63535 !important;
  transition: 1s;
}

.btn-secondary {
  background-color: #171717 !important;
  color: white !important;
}

.btn-floating {
  position: fixed;
  right: 0;
  background-color: #000000cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0px 5px;
  right: -5px;
  transform: translateX(100%);
  z-index: 11;
  transition: all 0.5s ease;
}

.buttons-upgrade-degrade .btn {
  background-color: snow;
  color: #040404;
  align-items: center;
  justify-content: center;    
  margin: 15px 8px;
}

.buttons-upgrade-degrade p {
  margin: 0;
  padding: 0;
}

.buttons-upgrade-degrade .icons {
  width: 16px;
}

.buttons-upgrade-degrade .icons:first-child {
  margin-right: 4px;
}

.buttons-upgrade-degrade .icons:last-child {
  margin-left: 4px;
}

.btn-active-history {
  color: #fffefe;
  background-color: #289cf9;
}

.options-student {
  margin-top: 30px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

/*Buttons Student Info*/
.buttons-actions {
  margin: 0;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.buttons-actions div {
  display: flex;
  padding: 0px 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.buttons-actions div:hover {
  background-color: #d2d2d2;
}

.buttons-actions div img {
  width: 32px;
  margin-right: 10px;
}

/*Seccions*/
.container-sections{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-sections-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    max-width:1300px;
}

.container-sections-card .card{
  margin:10px;
  background:aliceblue;
  padding: 5px;
  cursor:pointer;
  transition: all 0.3s ease;
}

.container-sections-card .card:hover{
  background: #1679ce;
  color:white
}

/*Tabla de Estudiantes*/

.tableMaterial {
  width: 90% ;
  position: relative !important;
  height: auto !important;
  display: flex !important;
  flex-direction: column !important;
  margin: auto !important;
}

.tableMaterial table {
  border: none !important;
}

.tableMaterial select {
  width: 200px !important;
  margin: auto !important;
}

tr {
  background-color: #fff ;
}

.MuiTable-root {
  background-color: #ffffff ;
}
.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded,
.MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-5.MuiToolbar-gutters {
  background-color: #ffffff00 ;
  outline: none !important;
  box-shadow: none !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.MTableToolbar-title-9 {
  width: 300px !important;
  background-color: none !important;
  height: 64px !important;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  color: black !important;
}

.MTableToolbar-spacer-7 {
  display: contents !important;
}

.MuiFormControl-root.MuiTextField-root.MTableToolbar-searchField-10 {
  margin: auto !important;
  padding-left: 8px !important;
}

.MuiButtonBase-root.MuiTableSortLabel-root.MuiTableSortLabel-root:hover {
  color: whitesmoke !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: black;
}
.MuiButtonBase-root .MuiTableSortLabel-root:hover {
  color: white !important;
  cursor: poiner !important;
}

/*CheckBoxs*/
.MuiSvgIcon-root {
  fill: #000000 !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #4a4a4a !important;
}

/*PDF*/
.bulletin-container{
  background: #ffffff;
}

.bulletin{
  margin:auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width:750px;
}

.bulletin h2, .bulletin h3, .bulletin h4{
  letter-spacing: 0.2px;
}

.bulletin-body table{
border-collapse: collapse;
}

.bulletin-body{
  width:100%;
  display: flex;
  flex-direction: column;
}

.bulletin-body table thead tr:first-child th{
  padding: 10px;
  border-bottom: 1px solid black;
}

.bulletin-body table thead tr th,.bulletin-body table tbody tr th{
  background:#f7f7f7;
  border:1px solid black;
  padding: 10px;
}

.bulletin-body table thead tr th,.bulletin-body table thead tr td{
  color:black;
}

.bulletin-body .student-general{
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

.bulletin-body section table{
  margin:auto;
  width:100%;
}

.bulletin-body section{
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

.bulletin-body .comment{
    width:735px;
    margin:20px auto;
    padding: 2px 10px;
    background: #191919;
    border-radius: 5px;
    color: white;
}

.bulletin-footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.bulletin-footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*general styles*/
select {
  outline: 0;
}

@media (max-width: 850px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 240px;
    justify-content: flex-end;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    z-index: 1000;
  }

  .background-sidebar {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000bf;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;
  }

  .sidebar,
  .sidebar div {
    display: flex;
    flex-direction: column-reverse;
  }

  .sidebar div {
    margin: auto 0;
    width: 100%;
  }

  .sidebar div ul li {
    margin: 10px 0;
    padding: 10px 0;
    font-size: 16px;
  }

  .sidebar div:last-child {
    display: none;
  }

  .sidebar div ul {
    flex-direction: column;
    text-align: center;
  }

  .sidebar svg {
    position: absolute;
    display: block;
    width: 25px;
    left: 10px;
    top: 10px;
    padding: 12px;
  }

  .bar-top {
    display: flex;
    width: 100%;
    height:50px !important;
    justify-content: space-between;
    background: #1f1f1f;
    color: white;
  }

  .bar-top h2 {
    font-size: 18px;
  }

  .bar-top div {
    display: flex;
    align-items: center;
  }

  .bar-top img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .bar-top svg {
    margin-left: 5px;
    width: 24px;
    cursor: pointer;
  }

  /*FormStudent*/

  .container-boxs {
    margin-top: 20px;
  }

  /*Buttons*/
  .btn {
    font-size: 14px
  }

  /*Carrousel Img*/

  

}

@media (max-width: 747px) {
  .title {
    margin: 10px 0;
    font-size: 22px;
  }

  .boxs {
    margin-top: 20px;
  }

  .box {
    width: 210px;
    padding: 5px 10px;
    height: 255px;
    margin: 15px 10px;
  }
}

@media (max-width: 540px) {
  .tableMaterial {
    width: 98%;
  }
}

@media (max-width:320px){
  body{
    overflow-x: hidden;
  }
}
