body {
    background: rgb(165,205,255);
    background: -webkit-linear-gradient(232deg, rgba(165, 205, 255, 1) 21%, rgba(107, 204, 254, 1) 86%);
    background: -o-linear-gradient(232deg, rgba(165, 205, 255, 1) 21%, rgba(107, 204, 254, 1) 86%);
    background: linear-gradient(322deg, rgba(165, 205, 255, 1) 21%, rgba(107, 204, 254, 1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a5cdff", endColorstr="#6bccfe", GradientType=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'opensans'
}




.title {
    text-align: center;
    margin-top: 70px;
    color: #131313;
}





.banner {
    position: absolute;
    top: 0;
    left: 0;
}

.banner img {
    width: 120px;
    height: 110px;
    border-radius: 50%;
}





.boxs {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.box {
    width: 260px;
    height: 300px;
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5cb3f9;
    color: black;
    transform: translateY(0%);
    transition: all 0.6s;
    border-radius: 20px;
}


.box:hover {
    background-color: #FEC156FF;
    transform: translateY(-10%);
    transition: all 0.6s;
}



.box img {
    width: 80px;
    height: 80px;
}




.a {
    text-decoration: none;
}

.alert{
    position: absolute;
    text-align: center;
    margin: auto;
    background: #ffffff;
    width: fit-content;
    color: black;
    padding: 10px;
    left: 0;
    right: 0;
    z-index: 10;
    transform:translateY(-110%);
    transition:all 0.3s ease;
}


.tableMaterial {
    width: 90%;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}

tr{
     background-color: #fff;
}

/*Tabla de Estudiantes*/
.MuiTable-root{
    background-color: #ffffff;
}
.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded,
.MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-5.MuiToolbar-gutters {
    background-color: #ffffff00;
    outline: none;
    box-shadow: none;
    padding-right: 0px !important;
    padding-left: 0px;
}

.MTableToolbar-spacer-7 {
    display: contents;
}

.MuiFormControl-root.MuiTextField-root.MTableToolbar-searchField-10 {
    margin: auto;
    padding-left: 8px !important;
}


