:root {
  --blue-color: #113fa7;
}

.container-login {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  max-width: 550px;
}

.container-login h1 {
  font-size: 1.85em;
  text-align: center;
  color: var(--blue-color);
}

.container-login img {
  width: 105px;
  height: 110px;
  max-width: 300px;
  margin: 10px auto;
  border-radius: 100%;
}

.container-login .form {
  margin-top: 20px;
  width: 100%;
  height: 405px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-login .form .field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.container-login .form .field input {
  border: none;
  background: none;
  width: 100%;
  height:45px;
  padding: 0;
  outline: 0;
  font-size: 1.05em;
  padding-left: 30px;
  border-bottom: 2px solid black;
  transition: all 0.3s ease;
}

.container-login .form .field p {
  margin: 0;
  font-weight: 600;
  color: var(--blue-color);
}

.container-login .form .field .icon {
  position: absolute;
  margin-left: -10px;
}

.container-login .form .field svg {
  transform: scale(0.7);
}

.container-login .form .field:nth-child(2) svg {
  margin-top: 0px;
  transform: scale(0.6);
}

.container-login .form .field .button {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.container-login .form .field .button svg {
  transform: scale(1);
  margin-top: 0;
}
.container-login .form .field .field-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-login .form .forgot {
  color: #113fa7;
  border: none;
  text-decoration: none;
  font-size: 1.05em;
}

.container-login .form .field input:focus {
  border-color: #2f6efb;
}

.container-login .form .forgot:hover {
  color: #0c255c;
}

.container-login .form .button-submit {
  background: var(--blue-color);
  height: 40px;
  font-size: 1em;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s all ease;
}

.container-login .form .button-submit:hover {
  cursor: pointer;
  background: #0c255c;
}

.container-login .cc-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-login .cc-container p{
  text-align: center;
}

.container-login .links-users{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}