.container-student {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.container-student h2{
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.container-student input{
    margin-top: 5px;
    margin-bottom: 10px;
}

.student-information,.student-record-actual{
    border-bottom: 2px solid #6e6e6e;
}

.student-record-actual{
    margin-top: 15px;
    margin-bottom: 5px;
}

.student-record-actual h4,
.container-student .student-contact h4{
    margin-bottom: 20px;
}

.container-student .thead{
    background: #284d9b;
    color: white;
}

.container-student .student-contact{
    margin-top: 20px;
    border-bottom: 2px solid #6e6e6e;
}

.container-student .container-chest{
    max-height: 0px;
    overflow: hidden;
    border-bottom: 2px solid transparent;
}

.container-student .container-chest-active{
    max-height: max-content;
    border-color:#6e6e6e;
}

.container-detail .form-container-switchs, .container-detail .container-info-header-chest{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-detail .student-record-actual tr th{
    text-transform: capitalize;
}

.container-detail .message-missings{
    margin-top: 15px;
}

.container-detail .container-section {
    overflow: auto;
    padding: 5px;
    border-width: 2px !important;
    box-shadow: 0px 3px 7px 2px #577bff24;
    margin-bottom: 15px;
}

.container-detail .container-section h4{
    background: #284d9b;
    color: white;
    padding-left: 5px;
    border-radius: 2px;
}

.container-detail .container-section table tbody th{
    width: 185px;
}

.container-detail .student-contact{
    margin: 50px 0;
}