@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

:root {
    --blue-color: #113fa7;
    --toastify-text-color-light: #000000;
}

#root {
    display: flex;
    flex-direction: row;
}

body {
    background: #fbfbfb;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container-body {
    width: 100%;
}

.container-body .container-actions-body {
    margin: 15px 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container-body .container-actions-body .container-label-select label{
font-size: 16px;
font-weight: 600;
}

.container-body .container-actions-body button {
    margin-left: 15px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.form .button-submit {
    background: var(--blue-color);
    height: 40px;
    font-size: 1em;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    outline: 0;
    transition: 0.3s all ease;
}

.form .button-submit:hover {
    cursor: pointer;
    background: #0c255c;
}

.container-body .card-container .card-header {
    padding-top: 15px;
    display: flex;
}

.container-body .card-container .card-header h2 {
    margin: 0;
    margin-left: 40px;
}

.container-body table tr th,
.container-body table tr td {
    text-align: center;
}

.table-body-select th {
    border: 2px solid;
}

.table-body-select tr {
    transition: all 0.3s ease;
    border: none;
    border-color: transparent;
    cursor: pointer;
}

.table-body-select tr:hover {
    background: #e3e3e3;
}

.container-body .field-container {
    display: flex;
    flex-flow: wrap;
}

.container-body .actions-container {
    display: flex;
    padding: 10px 20px;
}

.container-options-list {
    display: flex;
    flex-flow: wrap-reverse;
    align-items: baseline;
    justify-content: space-between;
}

.captcha_container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

/*Styles from level admin*/

.modal-request-admin {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -10000;
    opacity: 0;
    background: #000000a3;
    transition: all 0.3s ease;
}

.modal-request-admin-active {
    opacity: 1;
    z-index: 100;
}

.modal-request-admin .container-modal{
    margin: 20px 0;
    overflow: auto;
}

.modal-request-admin .container-modal .container-buttons {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    max-width: 768px;
}

.modal-request-admin .container-modal .container-buttons button {
    width: 100%;
}

@media(min-width: 768px) {
    .container-body .container-actions-body button{
        margin-left: 0px;
    }
    
    .container-body .container-actions-body {
        justify-content: flex-end;
    }

    .modal-request-admin .container-modal .container-buttons {
        flex-direction: row-reverse;
    }

    .container-options-list{
        flex-flow: wrap;
    }
}

@media(min-width: 900px) {
    .container-options-list div {
        padding: 10px;
    }

    .container-body {
        display: flex;
        flex-direction: column;
        margin-left: 305px;
    }

    .container-body .card-container .card-header h2 {
        margin-left: 0px;
    }

}